<%= simple_form_for [:admin, @customer] do |f| %>
  <% if @customer.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

    <ul>
    <% @customer.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
  <% end %>

  <%= f.input :username %>
  <%= f.label :active %>
  <%= f.collection_radio_buttons :active, [[true, 'Yes'] ,[false, 'No']], :first, :last %>
  <%= f.input :url %>

  <%= f.button :submit %>
<% end %>
