<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @admin.username %>
</p>

<p>
  <strong>Active:</strong>
  <%= @admin.active %>
</p>

<p>
  <strong>Url:</strong>
  <%= @admin.url %>
</p>

<%= link_to 'Edit', edit_admin_path(@admin) %> |
<%= link_to 'Back', admins_path %>
