<p id="notice"><%= notice %></p>

<h1>Listing Products</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Url</th>
      <th>Amount</th>
      <th>Category</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.url %></td>
        <td><%= product.amount %></td>
        <td><%= product.category.name %></td>
        <td><%= link_to 'Show', customer_product_path(product) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
