<%= simple_form_for [:admin, @category] do |f| %>
  <% if @category.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</h2>

    <ul>
    <% @category.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
  <% end %>

  <%= f.input :name %>
  <%= f.label :active %>
  <%= f.collection_radio_buttons :active, [[true, 'Yes'] ,[false, 'No']], :first, :last %>
  <%= f.input :description %>

  <%= f.button :submit %>
<% end %>
