

<div class="row">
  <div class="col s2">
    <ul class="collapsible">
      <li>
        <div class="collapsible-header">
          <div class="col s10">Farmacia</div>
          <div class="col s2"><i class="material-icons right-align">place</i></div>
        </div>
        <div class="collapsible-body" style="padding: 0 !important">
          <div class="collection">
            <% @categories.each do |category| %>
            <a href="/products?category_id=<%= category.id %>" class="collection-item"><%= category.name %></a> 
            <% end %>  
          </div>
        </div>
      </li>
      <li>
        <div class="collapsible-header">
          <div class="col s10">Vida Sana</div>
          <div class="col s2"><i class="material-icons right-align">place</i></div>
        </div>
        <div class="collapsible-body" style="padding: 0 !important">
          <div class="collection">
            <a href="#!" class="collection-item">Alvin</a>
            <a href="#!" class="collection-item active">Alvin</a>
            <a href="#!" class="collection-item">Alvin</a>
            <a href="#!" class="collection-item">Alvin</a>
          </div>
        </div>
      </li>
      <li>
        <div class="collapsible-header">
          <div class="col s10">Como Comprar</div>
          <div class="col s2"><i class="material-icons right-align">place</i></div>
        </div>
        <div class="collapsible-body" style="padding: 0 !important">
          <div class="collection">
            <a href="#!" class="collection-item">Con receta</a>
            <a href="#!" class="collection-item active">Sin receta</a>
          </div>
        </div>
      </li>
      <li>
        <div class="collapsible-header">
          <div class="col s10">Quienes somos</div>
          <div class="col s2"><i class="material-icons right-align">place</i></div>
        </div>
        <div class="collapsible-body" style="padding: 0 !important">
          <div class="collection">
            <a href="#!" class="collection-item">Nuestra Tienda</a>
            <a href="#!" class="collection-item active">Nuestros valores</a>
          </div>
        </div>
      </li>
      <li>
        <div class="collapsible-header">
          <div class="col s10">Contacto</div>
          <div class="col s2"><i class="material-icons right-align">place</i></div>
        </div>
        <div class="collapsible-body" style="padding: 0 !important">
          
        </div>
      </li>
    </ul>
  </div>
  <div class="col s10">  
    <h1>Listing Products</h1> 
    <div class="row">
      <% @products.each do |product| %>
      <div class="col s12 m3">
        <div class="card">
          <div class="card-image">
            <img src=<%= product.url %>>
          </div>
          <div class="card-content">
            <p class="left-align"><%= product.name %></p>
            <p class="right-align"><%= product.category.name %></p>
          </div>
          <div class="card-action">
            <%= link_to 'Show', product %>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div> 
</div>



